.profile {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    border: 2px solid rgb(61, 61, 61);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.43);
    background-color: rgb(254, 255, 221);
}

.description {
    text-align: center;

}

.avatar {
    border: 1px solid rgb(61, 61, 61);
        padding: 15px;
        border-radius: 50%;
        background-color: rgb(205, 232, 255);
        box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.43);
}


.name {
    margin-top: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
}

.tag {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: blue;
}

.location {
    margin-top: 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: rgb(90, 0, 0);
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 0;
    /* width: 300px; */

    list-style-type: none;
    text-align: center; 

    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.43);
}

.item {
    /* display: block; */
    padding: 20px;

    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(199, 199, 199);
}

.label {
    display: block;
    margin-top: 0;

    text-align: center;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: rgb(0, 56, 0);
}

.quantity {
    /* display: block;
    text-align: center; */
    font-style: italic;
    color: rgb(138, 0, 0);

}