.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 40px;
    margin-right: 20px;
    margin-left: 20px;

    border: 2px solid #3d3d3d;
    border-radius: 20px;
    box-shadow: 10px 10px 14px -3px #0000006e;

    background-color: #feffdd;
}


.description {
    text-align: center;
}


.avatar {
    border: 1px solid #3d3d3d;
    padding: 15px;
    border-radius: 50%;
    background-color: #cde8ff;
    box-shadow: 10px 10px 14px -3px #0000006e;
}


.name {
    margin-top: 32px;
    font-size: 32px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */
}


.tag {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    
    color: #0000ff;
}


.location {
    margin-top: 24px;

    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: #5a0000;
}


.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0;
    /* width: 300px; */

    list-style-type: none;
    text-align: center; 

    border: 1px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.43);
}


.item {
    /* display: block; */
    padding: 20px;

    border-right: 1px solid #000000;
    border-bottom: 2px solid #000000;
    
    background-color: #c7c7c7;
}


.label {
    display: block;
    margin-top: 0;

    text-align: center;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: #003800;
}

.quantity {
    /* display: block;
    text-align: center; */
    font-style: italic;

    color: #8a0000;
}

.icon {
    /* display: inline-flex; */
    margin-right: 12px;
    /* size: 60px; */
    color: #616161;
}