.friendList {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 40px;
    margin-right: 20px;

    /* text-transform: uppercase; */

    border: 2px solid rgb(61, 61, 61);

    border-radius: 20px;
    box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.43);
    background-color: rgb(254, 255, 221);
}


.avatar {
    border: 1px solid rgb(61, 61, 61);
        padding: 15px;
        border-radius: 50%;
        background-color: rgb(205, 232, 255);
        box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.43);
}


.statList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0;

    list-style-type: none;
    text-align: center; 

    border: 1px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.43);
}


.item {
    display: flex;
    align-items: center;

    padding: 10px;
    
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    /* background-color: rgb(199, 199, 199); */
}


.status {
    display: block;

    margin-right: 5px;

    text-align: center;
    /* text-transform: lowercase; */
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.5px;
    /* font-style: italic; */

    color: rgb(255, 50, 0);
}


.name {
    margin-left: 20px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */

    color: rgb(255, 240, 0);
    
}