.friendList {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 40px;
    margin-right: 20px;

    /* text-transform: uppercase; */

    border: 2px solid #3d3d3d;

    border-radius: 20px;
    box-shadow: 10px 10px 14px -3px #0000006e;
    background-color: #feffdd;
}


.statList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0;

    list-style-type: none;
    text-align: center; 

    border: 1px solid #000000;
    border-right: 2px solid #000000;
    border-radius: 2px;
    box-shadow: 10px 10px 14px -3px #0000006e;
}


.item {
    display: flex;
    align-items: center;

    padding: 10px 36px;
    
    border-right: 1px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: #c7c7c7;
}


.status {
    margin-right: 16px;

    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.5px;

    color: #ff3200;
}


.avatar {
    border: 1px solid #3d3d3d;
    padding: 16px;
    border-radius: 50%;
    background-color: #cde8ff;
    box-shadow: 10px 10px 14px -3px #0000006e;
}


.name {
    margin-left: 28px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    /* text-transform: uppercase; */

    color: #fff000;
}