.transactionsHistory {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 40px;
    margin-right: 20px;

    border: 2px solid #3d3d3d;
    border-radius: 20px;
    box-shadow: 10px 10px 14px -3px #0000006e;

    background-color: #feffdd;
}


.itemHistory {
    border-collapse: collapse;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
    box-shadow: 10px 10px 14px -3px #0000006e;
}


/* table caption {
    text-align: left;
    text-align: center;
} */


/* We "collapse" the frames of adjacent cells */
/* table {
    border-collapse: collapse;
    
} */


/* 
    Add a border and padding to the cells, the distance from the content to the border.
    To control the vertical position, the caption-side property is used.
*/


table th {
    padding: 8px;
    border: 1px solid #2a2a2a;
    background-color: #cde8ff;
}


table td {
    padding: 4px;
    border: 1px solid #2a2a2a;
    background-color: #fafaeb;
}




